.profile_header {
  // background-color:red
  width: 992px;
  max-width: 100vw;
  margin: auto;
  padding: 25px 0px;

  @media (max-width: 1023px) {
    width: 650px;
    max-width: 100vw;
    // padding: 50px 20px;
  }
  .title_row {
    h1 {
      font-weight: 500;
      font-size: 25px;
      text-align: center;
      // color: red;
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      font-size: 12px;
      text-align: center;
      // color: #707070;
    }
  }
  .avatar {
    margin-top: 25px;
    .avatar_container {
      height: 136px;
      width: 136px;
      aspect-ratio: 1/1;
      background-color: white;
      border-radius: 50%;
      padding: 4px;
      margin: auto;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      // height: 136px;
      // width: 136px;
      object-fit: cover;
    }
    h3 {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      // color: #484848;
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      font-size: 15px;
      text-align: center;
      // color: #707070;
    }
  }
  .bio {
    max-width: 90vw;
    margin: auto;
    margin-top: 30px;
    h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 22px;
      text-align: left;
      // color: #4c4c4c;
    }
    // p {
    //   font-family: "Montserrat", sans-serif;
    //   font-weight: normal;
    //   font-size: 12px;
    //   line-height: 18px;
    //   text-align: left;
    //   // color: #707070;
    // }
  }
  button {
    border-radius: 5px;
    background-color: #ff5a5f;
    padding: 5px 25px;
    margin: 10px;
    // font
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #fff;
    // hover
    &:hover {
      background-color: #ff7b7f;
    }
    @media (max-width: 1023px) {
      margin: 0px;
    }
  }
  .divider {
    border-bottom: solid 1px #e0e0e0;
    max-width: 95vw;
    margin: auto;
    margin-top: 50px;
  }
}
.profile_header_small {
  width: 992px;
  max-width: 90vw;
  margin: auto;
  padding: 25px 0px;
  .divider {
    border-bottom: solid 1px #e0e0e0;
    max-width: 95vw;
    margin: auto;
    margin-top: 30px;
  }

  // on tablet
  @media (max-width: 1023px) {
    width: 650px;
    max-width: 90vw;
    // padding: 50px 20px;
  }
}
